<tr id="vendor-<%=vendor.id%>">
  <td>
    <%= link_to vendor_items_path(vendor: vendor.url) do %>
      <% if vendor.file_upload_file_name.nil? %>
      <%= image_tag vendor.image_path, class: "dashboard_thumbnail" %>
      <% elsif vendor.file_upload_file_name %>
      <%= image_tag vendor.image_upload.url(:large), class: "dashboard_thumbnail" %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to vendor.name, vendor_items_path(vendor: vendor.url) %>
    <%= vendor.description %>
  </td>
  <td>
    <%= vendor.status.capitalize %>
  </td>
  <td>
    <% if vendor.open? %>
      <%= button_to "Close", close_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
    <% elsif vendor.pending? %>
      <%= button_to "Open", open_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
      <%= button_to "Close", close_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
    <% elsif vendor.closed? %>
      <%= button_to "Open", open_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
    <% end %>
    <%= button_to "Items", vendor_items_path(vendor: vendor.url), method: :get, class: "btn waves-effect waves-light" %>
    <%= button_to "Orders", vendor_orders_path(vendor: vendor.url), method: :get, class: "btn waves-effect waves-light" %>
    <%= button_to "Edit", edit_vendor_path(id: vendor.id), method: :get, class: "btn waves-effect waves-light" %>
  </td>
</tr>
