<tr id="vendor-<%=vendor.id%>">
  <td>
    <%= image_tag("https://s-media-cache-ak0.pinimg.com/236x/1e/53/94/1e53942d804bd726b332b849ca7254b0.jpg", class: "dashboard_thumbnail circle") %>
  </td>
  <td>
    <%= link_to vendor.name, vendor_items_path(vendor: vendor.url) %>
    <%= vendor.description %>
  </td>
  <td>
    <%= vendor.status.capitalize %>
  </td>
  <td>
    <% if vendor.open? %>
      <%= button_to "Close", close_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
    <% elsif vendor.pending? %>
      <%= button_to "Open", open_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
      <%= button_to "Close", close_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
    <% elsif vendor.closed? %>
      <%= button_to "Open", open_vendor_path(vendor_id: vendor.id), method: :put, class: "btn waves-effect waves-light" %>
    <% end %>
    <%= button_to "Items", vendor_items_path(vendor: vendor.url), method: :get, class: "btn waves-effect waves-light" %>
    <%= button_to "Orders", vendor_orders_path(vendor: vendor.url), method: :get, class: "btn waves-effect waves-light" %>
    <%= button_to "Store Admins", vendor_users_path(vendor: vendor.url), method: :get, class: "btn waves-effect waves-light" %>
    <%= button_to "Edit", edit_vendor_path(id: vendor.id), method: :get, class: "btn waves-effect waves-light" %>
  </td>
</tr>
