<div id="vendor-details">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <h3><%= link_to current_user.vendor.name, vendor_items_path(vendor: vendor.url)  %></h3>
        <p>Current Status: <%= vendor.status.capitalize %></p>
        <%= link_to vendor_items_path(vendor:vendor.url) do %>
          <%= image_tag vendor.image_path %>
        <% end %>
        <table class="larger-text">
          <tr>
            <td>
              <strong>Kiosk Name:</strong>
            </td>
            <td>
              <%= vendor.name %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Description:</strong>
            </td>
            <td>
              <%= vendor.description %>
            </td>
          </tr>
        </table>
      </div>
      <div class="card-action">
        <%= link_to "Edit Kiosk", edit_vendor_path(vendor), class: "btn waves-effect waves-light" %>
        <%= link_to "Manage Orders", vendor_orders_path(vendor: vendor.url), class: "btn waves-effect waves-light" %>
        <%= link_to "View My Items", vendor_items_path(vendor: vendor.url), class: "btn waves-effect waves-light" %>
        <%= link_to "Manage Store Admins", vendor_users_path(vendor: vendor.url) if vendor.owner_id == current_user.id %>
      </div>
    </div>
  </div>
</div>
