<div id="vendor-details">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
        <p>Current Status: <%= vendor.status %> </p>
        <table class="larger-text">
          <tr>
            <td>
              <strong>Kiosk Name:</strong>
            </td>
            <td>
              <%= vendor.name %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Description:</strong>
            </td>
            <td>
              <%= vendor.description %>
            </td>
          </tr>
        </table>
      </div>
      <div class="card-action">
        <%= link_to "Edit Kiosk", edit_vendor_path(vendor), class: "btn waves-effect waves-light" %>
        <%= link_to "Manage Orders", vendor_orders_path(vendor: vendor.url), class: "btn waves-effect waves-light" %>
        <%= link_to "View My Items", vendor_items_path(vendor: vendor.url), class: "btn waves-effect waves-light" %>
      </div>
    </div>
  </div>
</div>
