<div class="admin_dashboard">
  <h2>Vendor Dashboard</h2>

  <div class="row">
    <% if @vendor %>
      <div class="col s12 m6">
    <% else %>
      <div class="col s12 m12">
    <% end %>
      <div class="card">
        <div class="card-content">
          <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
          <table class="larger-text">
            <tr>
              <td>
                <strong>Username:</strong>
              </td>
              <td>
                <%= current_user.username %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Email: </strong>
              </td>
              <td>
                <%= current_user.email_address %>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-action">
          <%= link_to "Edit Info", edit_user_path(current_user), class: "btn waves-effect waves-light" %>
        </div>
      </div>

      <div class="card">
        <div class="card-action user_action_links">
          <% unless @vendor %>
            <div class="action_box"><%= link_to "Create Kiosk", new_vendor_path %></div>
          <% end %>
          <div class="action_box"><%= link_to "View Orders", user_orders_path(current_user.slug) %></div>
        </div>
      </div>

    </div>

    <% if @vendor %>
      <%= render partial: 'vendor_kiosk', :locals => {:vendor => @vendor} %>
    <% end %>


  </div>
</div>
