<%= form_for @user, :html => {class: "profile_form"} do |f| %>
  <%= render partial: 'shared/errors', locals: {target: @user} %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>

  <div class="row">
    <% if current_artist? %>
    <%= f.label "Upload Profile Picture" %>
    <br><br>
    <%= f.file_field :file_upload, class: "upload_file grey-text" %>
    <% end %>
  </div>

  <%= f.label :email_address %>
  <%= f.text_field :email_address %>
  <br>

  <% unless current_user %>
    <%= f.label :username %>
    <%= f.text_field :username  %>
  <% end %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>

  <%= f.label :role %>
  <%= f.select :role, options_for_select(["default", "vendor"]) %>
  <br>

  <%= f.submit "Submit", class: "wave-effect waves-light btn" %>
<% end  %>
