<div class="category-show-item">
  <div class="item-thumbnail col s4">
    <%= image_tag "vegetables.jpg" %>
    <h5><%= link_to item.vendor.name, vendor_items_path(vendor: item.vendor.url) %></h5>
  </div>
  <div class="item-details col s8 left-align item-<%=item.title%>">
    <h4><%= link_to item.title, vendor_item_path(vendor: item.vendor.url, id: item.id) %></h4>
    <p><%= item.description %></p>
    <p><%= number_to_currency(item.price, class: "item-price") %></p>
    <%= button_to "Add to Cart", "#", class: "btn waves-effect waves-light" %>
  </div>
</div>
