<div class="category-show-item">
  <div class="item-thumbnail col s4">
    <%= image_tag "vegetables.jpg" %>
  </div>
  <div class="item-details col s8 left-align">
    <h4><%= item.title %></h4>
    <p><%= item.description %></p>
    <p><%= number_to_currency(item.price, class: "item-price") %></p>
    <%= button_to "Add to Cart", "#", class: "btn waves-effect waves-light" %>
  </div>
</div>
