<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
        <table class="larger-text">
          <tr>
            <td>
              <strong>Username:</strong>
            </td>
            <td>
              <%= current_user.username %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Email: </strong>
            </td>
            <td>
              <%= current_user.email_address %>
            </td>
          </tr>
          <tr>
            <td>
                <strong>Address: </strong>
            </td>
            <td>
              123 Maple Dr.
              <br>
              Denver, CO 80210
            </td>
          </tr>
        </table>
      </div>
      <div class="card-action">
        <%= link_to "Edit Info", edit_user_path(current_user), class: "btn waves-effect waves-light" %>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-action user_action_links">
          <div class="action_box"><%= link_to "Add Address", new_address_path %></div>
          <div class="action_box"><%= link_to "Order History", "#" %></div>
      </div>
    </div>
  </div>

</div>
