<div class="grid-item">
  <div class="card" id="vendor_item_<%= item.id %>">
    <a href="/<%= current_vendor.url %>/items/<%= item.id %>" class="card-image">
      <% if item.file_upload_file_name.nil? %>
        <%= image_tag item.image_path %>
      <% elsif item.file_upload_file_name %>
        <%= image_tag item.file_upload.url(:large) %>
      <% end %>
    </a>
    <div class="card-action">
      <span class="card-title"><a class="black-text title-links" href="/<%= current_vendor.url %>/items/<%= item.id %>"><%= item.title %></a></span>
      <br/>
      <% if current_vendor? %>
        <%= link_to "Edit Item", edit_vendor_item_path(vendor:vendor.url, id: item.id) %>
      <% end %>
      <% if item.status == "active" %>
        <%= number_to_currency(item.price, class: "item-price") %>
        <%= button_to "Add to Cart", cart_items_path(item_id: item.id), class: "btn waves-effect waves-light" %>
      <% else %>
        <p class="pink_error_text">This item is inactive.</p>
      <% end %>
    </div>
  </div>
</div>
