<h2><%= @item.title %></h2>
<div class="row">
  <div class="col s12 m6">
    <div class="item-show-image">
      <% if @item.file_upload_file_name.nil? %>
      <%= image_tag @item.image_path %>
      <% elsif @item.file_upload_file_name %>
      <%= image_tag @item.file_upload.url(:large) %>
      <% end %>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="item-show-details">
      <p class = "item-show-price">
        <%= number_to_currency(@item.price) %>
      </p>

      <p class = "item-show-description">
        <%= @item.description %>
      </p>
r
      <% if @item.status == "active" %>
      <%= button_to "Add to Cart", cart_items_path(item_id: @item.id), class: "btn waves-effect waves-light" %>
      <% else %>
      <p class="pink_error_text">This item is inactive.</p>
      <% end %>
    </div>
  </div>
</div>
