
  <h3>What's your phone number?</h3>
  <%= form_for @phone_number, :html => {class: "profile_form", multipart: true}, remote: true do |f| %>
    <%= f.text_field :phone_number %>  <br>
    <%= f.submit "Send PIN", class: "waves-effect waves-light btn" %>
  <% end %>

<div id="verify-pin">
  <h3>Enter your PIN</h3>
  <%= form_tag phone_numbers_verify_path, remote: true do |f| %>
    <%= hidden_field_tag 'hidden_phone_number', '' %>
    <%= text_field_tag :pin %>
    <%= submit_tag "Verify PIN", class: "waves-effect waves-light btn" %>
  <% end %>


  <div id="status-box">
    <p id="flash_error">Status: Haven’t done anything yet</p>
  </div>
</div>
