<div class="filter">
  <label>Filter By Category:</label>
  <%= text_field :category, :filter_name %>
</div>

<div class="categories">
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "vegetables.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Vegetables
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>
              <a href="#">Vegetables</a>
            </p>
            <i class="material-icons right">close</i>
          </span>
            <ul>
              <li>Carrots</li>
              <li>Celery</li>
              <li>Beets</li>
              <li>Greens</li>
              <li>Corn</li>
              <li>Legumes</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "dairy.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Dairy
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>
              <a href="#">Fruit</a>
            </p>
            <i class="material-icons right">close</i>
          </span>
            <ul>
              <li>Milk</li>
              <li>Ice Cream</li>
              <li>Cheese</li>
              <li>Yogurt</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "fruit.png" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Fruit
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>
              <a href="#">Fruit</a>
            </p>
            <i class="material-icons right">close</i>
          </span>
            <ul>
              <li>Apples</li>
              <li>Bananas</li>
              <li>Kiwis</li>
              <li>Pumpkin Butter</li>
              <li>Berries</li>
              <li>StarFruit</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="clear-floats">
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "honey.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Honey
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>
              <a href="#">Honey</a>
            </p>
            <i class="material-icons right">close</i>
          </span>
            <ul>
              <li>Wild Flower Honey</li>
              <li>Cinnamon Honey</li>
              <li>Bluebell Honey</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "baked_goods.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Baked Goods
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>
              <a href="#">Baked Goods</a>
            </p>
            <i class="material-icons right">close</i>
          </span>
            <ul>
              <li>Bread</li>
              <li>Cookies</li>
              <li>Brownies</li>
              <li>Carrot Cake</li>
              <li>Pumpkin Bread</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "misc.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Miscellaneous
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>
              <a href="#">Miscellaneous</a>
            </p>
            <i class="material-icons right">close</i>
          </span>
            <ul>
              <li>X-Wing Bolts</li>
              <li>Jewelry</li>
              <li>Soap</li>
              <li>Clothing</li>
              <li>Popcorn</li>
              <li>Chocolate</li>
            </ul>
        </div>
      </div>
    </div>

  </div>
</div>
