<nav>
  <div class="nav-wrapper" >
    <%= link_to "Bees&Beets", root_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- DESKTOP NAV -->
    <% if current_user %>
    <p class="right-align">
      <%= link_to "Welcome, #{current_user.first_name}", dashboard_path(current_user.slug) , class: "login_confirm"%>
    </p>


    <% else %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="right-align">
        <%= link_to "Log In/Sign Up", login_path %>
      </li>
    </ul>
    <% end %>

    <!-- MOBILE NAV -->
    <ul class="side-nav" id="mobile-demo">
      <li><strong><%= link_to "Bees&Beets", root_path %></strong></li>
        <li><%= link_to "Log In/Sign Up", logout_path %></li>
    </ul>
  </div>
</nav>
